.full
  display: flex
  justify-content: center
  &__video
    transform: translateZ(0)
    width: 50.6rem
    height: 27.6rem
    cursor: pointer
    margin: 2.8rem auto .9rem auto
    text-align: center
    transition: all 0.2s    
    &:hover
      opacity: 0.9
      transition: all 0.2s  
  
.half
  display: flex
  justify-content: center
  transform: translateZ(0)
  margin: 2.8rem auto .9rem auto  
  &__img
    width: 24.8rem
    height: 44rem
  &__video
    width: 24.8rem
    height: 44rem
    cursor: pointer
    transition: all 0.2s
    margin-left: 6rem
    &:hover
      opacity: 0.9
      transition: all 0.2s    