.imgcontainer
  width: 100%
  text-align: center
  margin-top: 2.8rem

img
  max-width: 98%
  margin: 0 auto
  border-radius: 2px

.image
  padding: 1rem
  background-color: #EFEFEF
  @media screen and (max-width: 600px)
    padding: 0     